<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logonrm.activitys">

    <uses-feature android:name="android.hardware.camera" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logotipo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/QrCompras">
        <activity android:name="br.com.qrcompras.activitys.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="br.com.qrcompras.activitys.CadastrarClienteActivity" />
        <activity android:name="br.com.qrcompras.activitys.CadastrarEnderecoActivity" />
        <activity android:name="br.com.qrcompras.activitys.ConfirmarCadastroActivity" />
        <activity android:name="br.com.qrcompras.activitys.RegistrarSenhaActivity" />
        <activity
            android:name="br.com.qrcompras.activitys.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/QrCompras.NoActionBar"></activity>
    </application>

</manifest>